MACOSX_DEPLOYMENT_TARGET = 13.0
SWIFT_VERSION = 6.0
MARKETING_VERSION = 2.0.4
CURRENT_PROJECT_VERSION = 5
ARCHS = $(ARCHS_STANDARD)
ENABLE_HARDENED_RUNTIME = YES
CODE_SIGN_INJECT_BASE_ENTITLEMENTS[config=Release] = NO
DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = NO
LOCALIZATION_PREFERS_STRING_CATALOGS = NO
